{{!-- wraping create pet form into nav card --}}
{{#> navigationCard }}

    <div class ="container">
<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom01">Pet name</label>
      <input type="text" class="form-control" id="validationCustom01" value="Farley" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationCustom04">Breed</label>
      <select class="custom-select" id="validationCustom04" required>
        <option selected disabled value="">Choose...</option>
        <option value="german shepherd">German Shepherd</option>
        <option value="Bulldog">Bulldog</option>
        <option value="Chihuahua">Chihuahua</option>
        <option value="Golden Retriever">Golden Retriever</option>
         <option value="Husky">Husky</option>
         <option value="French Bulldog">French Bulldog</option>
         <option value="Pomeranian">Pomeranian</option>
          <option value="Maltese">Maltese</option>
          <option value="Spaniel">Spaniel</option>
          <option value="Shiba Inu">Shiba Inu</option>
           <option value="Chow Chow">Chow Chow</option>
           <option value="Samoyed">Samoyed</option>
           <option value="Dalmatian">Dalmatian</option>
           <option value="Bull Terrier">Bull Terrier</option>
           <option value="Pit Bull">Pit Bull</option>
            <option value="Shar Pei">Shar Pei</option>
            <option value="corgi">Corgi</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid Breed.
      </div>
    </div>
  </div>
  <div class="form-row">
       <div class="col-md-6 mb-3">
      <label for="validationCustom04">Gender</label>
      <select class="custom-select" id="validationCustom04" required>
        <option selected disabled value="">Choose...</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <div class="invalid-feedback">
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationCustom05">Age</label>
      <input type="text" class="form-control" id="validationCustom05" required>
    </div>
  </div>
  <div class="form-row">
      <div class="col-md-12 mb-3">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
    <button class="btn btn-secondary" id="upload">Upload a Picture</button>
  </div>
  </div>
  

  <button class="btn btn-primary" type="submit">Add Pet</button>

   
</div>




{{/ navigationCard}}
{{!-- filestack link for img uploading --}}
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script type="text/javascript" src="/js/createpet.js"></script>