{{!-- wraping create pet form into nav card --}}
{{#> navigationCard }}
<head>
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="style/style.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <title>Happy paw</title>
       
        <body class= "background-img" background="../images/missionhills.jpg" >
    </head>
<body>
    
 
    <div class="row">
        <div class="col">
            <div class="card-transparent" style="width: 20rem;">
                <img src="https://i.cbc.ca/1.4776659.1533669783!/fileImage/httpImage/emily-pinckard.jpg" 
                class="card-img-top" alt="card one">
                <div class="card-body">
                    <h4 class="card-title">Going to the Dolores park with Charlie</h4>
                    <p class="card-text">Anyone wanna join us?</p>
                    <input type="comment" class="form-control" id="inputComment" placeholder="add comment">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-transparent"style="width: 20rem;">
                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F28%2F2019%2F05%2Fkyle-rohrig-blind-dog-katana-BLINDHIKE0519.jpg" class="card-img-top" alt="card two">
                <div class="card-body">
                    <h4 class="card-title">Me and Max are hitting the trails today</h4>
                    <p class="card-text">Someone wanna get some sun?</p>
                    <input type="comment" class="form-control" id="inputComment" placeholder="add comment">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-transparent" style="width: 20rem;">
                <img src="https://www.travelnuity.com/wp-content/uploads/2018/03/Baker-Beach-1080x720.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">On Baker Beach with our guys .</h4>
                    <p class="card-text">Does you pet love water too?</p>
                    <input type="comment" class="form-control" id="inputComment" placeholder="add comment">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card-transparent" style="width: 20rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Going to the park today</h5>
                    <p class="card-text">My dog and i are going to Dolores park today.</p>
                    <input type="comment" class="form-control" id="inputComment" placeholder="add comment">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-transparent" style="width: 20rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Going to the park today</h5>
                    <p class="card-text">My dog and i are going to Dolores park today.</p>
                    <input type="comment" class="form-control" id="inputComment" placeholder="add comment">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-transparent" style="width: 20rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Going to the park today</h5>
                    <p class="card-text">My dog and i are going to Dolores park today.</p>
                    <input type="comment" class="form-control" id="inputComment" placeholder="add comment">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
   
    <a class="btn btn-small btn-info" href="/create-post">
  <i class="fas fa-paw" style="font-size:20px"></i> Add Post</a>




    <script>
        $(document).ready(function(){
            $(".col").hover(
                function(){
                    $(this).animate({
                        marginTop: "-=1%",
                    },200);

                },
            function(){
                $(this).animate({
                    marginTop:"0%"

                },200);

            }
            );

        });
        </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
{{!-- https://code.jquery.com/jquery-3.5.1.slim.min.js --}}
{{/ navigationCard}}