{{!-- wraping main page into nav card --}}
{{#> navigationCard }}
    <h1>Paw's post </h1>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Going to the park today</h5>
                    <p class="card-text">My dog and i are going to Dolores park today.</p>
                    <input type="comment" class="form-control" id="inputComment" placeholder="add comment">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Going to the park today</h5>
                    <p class="card-text">My dog and i are going to Dolores park today.</p>
                    <input type="comment" class="form-control" id="inputComment" placeholder="add comment">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Going to the park today</h5>
                    <p class="card-text">My dog and i are going to Dolores park today.</p>
                    <input type="comment" class="form-control" id="inputComment" placeholder="add comment">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Going to the park today</h5>
                    <p class="card-text">My dog and i are going to Dolores park today.</p>
                    <input type="comment" class="form-control" id="inputComment" placeholder="add comment">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Going to the park today</h5>
                    <p class="card-text">My dog and i are going to Dolores park today.</p>
                    <input type="comment" class="form-control" id="inputComment" placeholder="add comment">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Going to the park today</h5>
                    <p class="card-text">My dog and i are going to Dolores park today.</p>
                    <input type="comment" class="form-control" id="inputComment" placeholder="add comment">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
   
    {{/ navigationCard}}