

   <nav class="transparent">
        <div class="nav-wrapper container-fluid" style="margin-top: 8%; margin-bottom: 20px;">
            <div class="main text-center">
              
             <h1 style="color:white; text-shadow: 3px 3px #1a1010">Welcome to Happy Paw</h1>
             <h5 style="color:white;  text-shadow: 2px 2px #180e0e">Because when you have friends, anything is PAWssible!</h5>
      </div>
    </div>
  </nav>
  <body class= "background-image">
  <div class="container-fluid">
      <div class="loginBox col-md-6 ml-auto mr-auto">
        <br>
        <h2 style="color: white">Login  <i class="fa fa-paw" style="color:white" aria-hidden="true"></i></h2>
        {{!-- keep login class when making changes --}}
        <form class="login">
          <div class="form-group">
            {{!-- When making changes make sure to keep original id name --}}
            <label style="color:white" for="email-input">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label style="color:white" for="password-input">Password</label>
            {{!-- When making changes make sure to keep original id name --}}
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <button style="color:white" type="submit" class="btn btn-default">Login</button>
        </form>
        <br>
        <p style="color:white">New User? sign up <a href="/" style="color:white">here</a></p>
      </div>
  </div>
  
  <script type="text/javascript" src="/js/login.js"></script>



